[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vogella-example
[access "refs/for/refs/*"]
	read = group user/vogella-example
	push = group user/vogella-example
	label-Code-Review = -2..+2 group user/vogella-example
	label-Verified = -1..+1 group user/vogella-example
	rebase = group user/vogella-example
	removeReviewer = group user/vogella-example
	submit = group user/vogella-example
[access "refs/heads/*"]
	read = group user/vogella-example
	create = group user/vogella-example
	push = +force group user/vogella-example
	pushMerge = group user/vogella-example
	label-Code-Review = -1..+1 group vogella-example-ci
	label-Verified = -1..+1 group vogella-example-ci
[access "refs/tags/*"]
	push = group user/vogella-example
	push = +force group user/vogella-example
